/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

html{
  height: 100%;
}
#wrap{
  height: 94%;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  border-left: dotted;
  border-right: dotted;
  border-color: #e3e0e0;
  border: 1px solid rgb(194,186,186);
  border: 1px solid rgba(194, 186, 186, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: white;
  z-index: 0;
}
form label{
  text-align: right;
}
body {
  padding: 0 30px 0;
  background-image: linear-gradient(to bottom, white, #f2f2f2);
  height: 100%;
  font-size: 12px;
}

h3{
  width: 40%;
  color: white!important;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding: 5px 10px;
  background: #3C4049;
  border-radius: 4px;
  text-shadow: 1px 1px 2px rgba(0,0,0,.5);
  height: 30px;
}
.header_container{
  width: 70%;
  max-width: 70%;
  margin: auto;
}
table#iseqchart{
  width: 100%;
}
