/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap-datepicker
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap-responsive";

html{
  height: 100%;
}
#main{
  height: 88%;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  border-left: dotted;
  border-right: dotted;
  border-color: #e3e0e0;
  border: 1px solid rgb(194,186,186);
  border: 1px solid rgba(194, 186, 186, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  background-color: white;
  z-index: 0;
}
form label{
  text-align: right;
}
body {
  padding: 0 0 0;
  /*background-image: linear-gradient(to bottom, white, #f2f2f2);*/
  height: 100%;
  font-size: 12px;
}


.header_container{
  max-width: 100%;
  margin: auto;
}
table#iseqchart{
  width: 100%;
}
.span1{
  width: 80%;
}
.span10, .table{
  width: 400px;
}
.container{
  width: 85%!important;
  height: 90%;
}
@media screen and (min-width: 800px) {
  #wrap {
    width: 90%;
    min-width: 0;
    margin: none;
  }
  body{
    margin: none;
    max-width: 100%;
    min-width: 10%;
  }
  .well{
    max-width: 50%;
    min-width: 10%;
  }
  .group{
    max-width: 50%;
    min-width: 10%;
  }
  .group-title{
    max-width: 50%;
    min-width: 10%;
  }
  .row{
    max-width: 50%;
    min-width: 10%;
  }
  #column-main {
    margin-left: 0;
  }
  #column-sidebar {
    width: auto;
    float: none;
  }
}