// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

#photo, .file{
  position: absolute;
  top: -5000px;
}
table{
  width: 100%;
}
div#screen {
  height: 15px;
  display: table;
  width: 80%;
  margin-left: 65px;
}
#screen .row {
  display: table-row;
}
.group {
  width: 400px;
  height: 40px;
  color: black;
  background-color: lightgray;
  border-color: #d6e9c6;
  display: table-cell;
}
.new_dog{
  position: relative;
  left: 65px;
}
h3{
  position: relative;
  left: 65px;
}
#dog_image{
  width: 70px;
  height: 50px;
}