// Place all the styles related to the treatments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

#empty_treatment_form{
  position: relative;
  left: -330px;
}
table {
  width: 30%;
  th{
    font-size: 12px;
  }
  td{
    font-size: 12px;
  }
}
#treatment_index{
  td{
    width: 100px;
  }
}

